<style>
    div.nonvr {
        position: absolute;
        width: 50%;
        height: 50px;
        border-radius: 8px;
        z-index: 9999;
        bottom: 20px;
        left: 20px;
        background-color: #fff;
    }
    div.nonvr  button {
        width: 96px;
        height: 48px;
        margin: 1px;
        border-radius: 8px;
    }

</style>
<div class="nonvr">
    <button id="joinButton">Join Audio</button>
    <button id="leaveButton">Leave Audio</button>
    <button id="muteButton">Mute</button>
    <button id="unmuteButton">Unmute</button>
</div>
<script>
    document.querySelector('#joinButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('connectSignalwire',
                        {detail: 'OK'}));

    });
    document.querySelector('#leaveButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('disconnectSignalwire',
                        {detail: 'OK'}));

    });
    document.querySelector('#muteButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('mute',
                        {detail: 'OK'}));

    });
    document.querySelector('#unmuteButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('unmute',
                        {detail: 'OK'}));

    });
</script>