<div class="nonvr">
    <button id="forwardButton">
        Forward
    </button>
    <button id="backButton">
        Back
    </button>
    <button id="joinButton">Disconnected</button>
    <button id="leaveButton">Connected</button>
    <button id="muteButton">Live</button>
    <button id="unmuteButton">Muted</button>
    <button id="exportButton">Export</button>
</div>
<script>
    const exportButton = document.getElementById('exportButton');
    exportButton.addEventListener('click', () => {
        document.dispatchEvent(
                new CustomEvent('export',
                        {detail: 'OK'}));

    });
    const forward = document.getElementById('forwardButton');
    forward.addEventListener('mousedown', () => {
        const leftHand = document.querySelector('#left-hand');

        leftHand.dispatchEvent(
                new CustomEvent('thumbstickmoved',
                        {detail: {x: 0, y:-1}}));
    });
    forward.addEventListener('touchstart', () => {
        const leftHand = document.querySelector('#left-hand');

        leftHand.dispatchEvent(
                new CustomEvent('thumbstickmoved',
                        {detail: {x: 0, y:-1}}));
    });

    forward.addEventListener('mouseup', () => {
        const leftHand = document.querySelector('#left-hand');

        leftHand.dispatchEvent(
                new CustomEvent('thumbstickmoved',
                        {detail: {x: 0, y:0}}));
    });
    forward.addEventListener('touchend', () => {
        const leftHand = document.querySelector('#left-hand');

        leftHand.dispatchEvent(
                new CustomEvent('thumbstickmoved',
                        {detail: {x: 0, y:-1}}));
    });


    document.getElementById('joinButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('connectSignalwire',
                        {detail: 'OK'}));
        document.getElementById('leaveButton').style.display='inline-block';
        document.getElementById('joinButton').style.display='none';
        document.getElementById('muteButton').style.display='inline-block';

    });
    document.getElementById('leaveButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('disconnectSignalwire',
                        {detail: 'OK'}));
        document.getElementById('leaveButton').style.display='none';
        document.getElementById('joinButton').style.display='inline-block';
        document.getElementById('muteButton').style.display='none';
        document.getElementById('unmuteButton').style.display='none';

    });
    document.getElementById('muteButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('mute',
                        {detail: 'OK'}));
        document.getElementById('muteButton').style.display='none';
        document.getElementById('unmuteButton').style.display='inline-block';

    });
    document.getElementById('unmuteButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('unmute',
                        {detail: 'OK'}));
        document.getElementById('muteButton').style.display='inline-block';
        document.getElementById('unmuteButton').style.display='none';
    });
</script>