<div id="roomparent">
    <div id="room"></div>
</div>
<div class="nonvr nonvrclosed">

    <button id="hideNonVR">Hide Menu</button>
    <button id="showNonVR">Show Menu</button>
    <div>
        <button id="joinButton">Join Call</button>
        <button id="leaveButton"></button>
        <button id="muteButton"></button>
        <button id="unmuteButton"></button>
        <button id="homeButton">Go Home</button>
    </div>
    <div>
        <form id="media" action="/api/media/create">
            <label for="fileupload">Upload Media</label>
            <input id="fileupload" type="file" name="fileupload"/>
            <button id="uploadButton" type="submit">Upload File</button>
        </form>
    </div>

    <div id="mediaselect">

    </div>

</div>

<script>
    document.getElementById('media')
            .addEventListener('submit', function (event) {
        event.preventDefault();
        let formData = new FormData();
        if (!event.target.fileupload.files) {
            window.alert('select a file first');
            return;
        }

        formData.append("file", event.target.fileupload.files[0]);
        formData.append("path", window.location.pathname);
        fetch(event.target.action, {
            method: "POST",
            body: formData
        }).then((res) => {
            if (res.status == 200) {
                window.alert('File added');
            }
        });

    }, false);

    document.addEventListener('click', (event) => {
        event.preventDefault();
        if (event.target.getAttribute('data-kind')) {
            document.dispatchEvent(
                    new CustomEvent('changeDevice',
                            {detail:
                                        {kind: event.target.getAttribute('data-kind'),
                                            id: event.target.getAttribute('data-id')}}));
            console.log(event.target);
        }
        switch(event.target.getAttribute('id')) {
            case 'joinButton':
                document.dispatchEvent(
                        new CustomEvent('connectSignalwire',
                                {detail: 'OK'}));
                document.getElementById('leaveButton').style.display = 'inline-block';
                document.getElementById('joinButton').style.display = 'none';
                document.getElementById('muteButton').style.display = 'inline-block';

                break;
            case 'leaveButton':
                document.dispatchEvent(
                        new CustomEvent('disconnectSignalwire',
                                {detail: 'OK'}));
                document.getElementById('leaveButton').style.display = 'none';
                document.getElementById('joinButton').style.display = 'inline-block';
                document.getElementById('muteButton').style.display = 'none';
                document.getElementById('unmuteButton').style.display = 'none';
                break;
            case 'muteButton':

                    document.dispatchEvent(
                            new CustomEvent('mute',
                                    {detail: 'OK'}));
                    document.getElementById('muteButton').style.display = 'none';
                    document.getElementById('unmuteButton').style.display = 'inline-block';

                break;
            case 'unmuteButton':
                document.dispatchEvent(
                        new CustomEvent('unmute',
                                {detail: 'OK'}));
                document.getElementById('muteButton').style.display = 'inline-block';
                document.getElementById('unmuteButton').style.display = 'none';
                break;
            case 'homeButton':
                window.location.href = (window.location.origin);

            case 'hideNonVR':
                document.querySelector('div.nonvr').classList.add('nonvrclosed');
                break;

            case 'showNonVR':
                document.querySelector('div.nonvr').classList.remove(['nonvrclosed']);
                break;


        }

    });
</script>
