<div class="nonvr">
    <button id="joinButton">Disconnected
        <div>Click to Connect</div>
    </button>
    <button id="leaveButton">Connected
        <div>Click to Leave</div></button>
    <button id="muteButton">Live
        <div>Click to Mute</div></button>
    <button id="unmuteButton">Muted
        <div>Click to Talk</div></button>
</div>
<script>
    document.getElementById('joinButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('connectSignalwire',
                        {detail: 'OK'}));
        document.getElementById('leaveButton').style.display='inline-block';
        document.getElementById('joinButton').style.display='none';
        document.getElementById('muteButton').style.display='inline-block';

    });
    document.getElementById('leaveButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('disconnectSignalwire',
                        {detail: 'OK'}));
        document.getElementById('leaveButton').style.display='none';
        document.getElementById('joinButton').style.display='inline-block';
        document.getElementById('muteButton').style.display='none';
        document.getElementById('unmuteButton').style.display='none';

    });
    document.getElementById('muteButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('mute',
                        {detail: 'OK'}));
        document.getElementById('muteButton').style.display='none';
        document.getElementById('unmuteButton').style.display='inline-block';

    });
    document.getElementById('unmuteButton').addEventListener('click', (evt) => {
        document.dispatchEvent(
                new CustomEvent('unmute',
                        {detail: 'OK'}));
        document.getElementById('muteButton').style.display='inline-block';
        document.getElementById('unmuteButton').style.display='none';
    });
</script>