<div id="hero">
    <img id="logo" src="/assets/immersiveidea.png"/>
    <h1>Account</h1>
</div>
<ul>
    <li>
        Account Type
    </li>
    <li>
        Email Address
    </li>
</ul>
<h1>Account Type</h1>
<div>
    <span class="account" id="accountnone">
        Standalone (no login required)
        Free to use
        Data stored on local device
        No Login
    </span>
    <span class="account" id="accountfree">
        + 1 User account
        + Data stored in cloud
        + Sync to multiple devices
    </span>
    <span class="account" id="accountbasic">
        + Voice Recognition
        + Invite others to collaborate
        + Up to 5 concurrent collaborators
        + Download diagrams as gltf
    </span>
    <span class="account" id="accountpro">
        + 10 hours per month Audio and Video conferencing
        + Multiple diagrams
        + Up to 20 concurrent collaborators
        + Desktop video streaming
    </span>
</div>
<div>
    <span class="account" id="accountenterprise">
        + private instance
        + SSO Integration
    </span>
</div>