<h1>Welcome</h1>
<ul>
    <li><a href="/login">Log In</a></li>
    <li><a href="/logout">Log Out</a></li>
    <!--<li><a href="/demo">Demo</a> Read only demo space where users can read and move around, but not actually create or edit anything.</li>-->
    <li><a href="/worlds/public">Playground</a> Any authenticated user can create, edit, manipulate objects in this space.</li>

</ul>
<div id="room">

</div>

<script>

</script>
