<div id="banner">
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-medium">
                <a href="/local" class="button-large">Try Local Demo</a>
                {{#unless user}}
                    <a href="/login" class="button-large">Log In</a>
                {{/unless}}
                {{#if user}}
                    <a href="https://www.oculus.com/open_url/?url=https%3A%2F%2Fwww.immersiveidea.com"
                       class="button-large">Load on Quest</a>
                {{/if}}
                <p>Use our web based 3D immersive VR editing experience for an
                    entirely new way to interact with your creative work.
                    Combine Virtual Reality, intuitive controls, mobile, desktop,
                    and collaborative features where users can manipulate
                    and edit their content in a more intuitive and visually compelling manner.</p>
            </div>
            <div class="col-6 col-12-medium imp-medium">
                <!-- Banner Image -->
                <!--<a href="#" class="bordered-feature-image" style="width: 30%"><img src="images/demo1.jpg" alt="" /></a> -->
                <iframe class="bordered-feature-image" style="width: 100%; height: 100%"
                        src="https://www.youtube.com/embed/cUchj31iC-A" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
</section>
<section id="content">
    <div class="container">


        <div class="row">
            <div class="col-6 col-12-medium imp-medium">
                <section id="features">
                    <div class="container">
                        <div class="row">
                            <section>
                                <h2>Technical Architects</h2>
                                <p>Bring your designs to life by illustrating connections, dependencies,
                                    and interrelations between platforms, technologies, and networks</p>
                            </section>
                            <section>
                                <h2>Designers</h2>
                                <p>Lead interactive design thinking sessions that offer immersive 3d experiences that
                                    go miles beyond sticky notes and whiteboards. </p>
                            </section>
                            <section>
                                <h2>Operations Teams</h2>
                                <p>Integrate the platform with tools like New Relic to create immersive
                                    control room experiences allowing users to visualize and operate your
                                    platform in a virtual world.</p>
                            </section>

                        </div>
                    </div>
                </section>
            </div>
            <div class="col-3 col-12-medium">
                <section>
                    <header><h2>Public Environments</h2></header>
                    {{#unless user}}
                        <p>You must for <a href="/login">log in</a> to use these environments</p>
                    {{/unless}}
                    <ul id="listing" class="link-list"></ul>
                </section>
            </div>

            <div class="col-3 col-12-medium">
                <section>
                    <header><h2>Private Environments</h2></header>
                    {{#unless user}}
                        <p>You must for <a href="/login">log in</a> to use these environments</p>
                    {{/unless}}

                    <ul class="link-list" id="privateListing"></ul>
                </section>
            </div>

        </div>

    </div>
</section>



