
<div class="main">
    <div id="hero">
        <h1>Explore Your Immersive Ideas</h1>
    </div>

    <a href="https://www.oculus.com/open_url/?url=https%3A%2F%2Fwww.immersiveidea.com">
        Open on your Quest headset</a>
    <div>
        <ul id="envlist">
            <li><a href="/local">Local Environment</a></li>
            <li><a href="/worlds/public">Public Cloud</a></li>
            <li><a href="/home">Private Cloud</a></li>
        </ul>
    </div>
    Please take a <a href="https://www.surveymonkey.com/r/FDJ9FHQ">One Minute Survey</a>
    to help guide product development.
    <div>
        <h2>Tips</h2>
        <ul>
            <li>Audio conferencing is currently "opt-in". If you don't join the audio conference, you won't hear other
                people and they can't hear you.
            </li>
            <li>Movement is a little choppy right now.</li>
            <li>There is an "immersive AR" mode that is unintentional. Not sure if this will stick around as we haven't
                figured out if it's useful or not
            </li>
            <li>To join the immersive experience, click the "VR" button in the bottom right side of your window. This
                really
                is only useful on Quest rigth now as it
                simply brings up a full screen view of browser on desktop.
            </li>
            <li>This is designed to be inherently secure, the public space can only be accessed if you are authenticated
                and
                the private link is a local in memory only
                experience (you may be able to join audio, there are some kinks there that are being worked out)
            </li>
            <li>Bug reports/feature requests/general questions can be sent to <a
                    href="mailto:support@immersiveidea.com">support@immersiveidea.com</a>
            </li>
        </ul>

    </div>
    <div>
        <h2>Powered by:</h2>
        <ul>
            <li><a href="https://aframe.io">a-frame</a></li>
            <li><a href="https://threejs.org">Threejs</a></li>
            <li><a href="https://nodejs.org">Nodejs</a></li>
            <li><a href="https://heroku.com">Heroku</a></li>
            <li><a href="https://cloudflare.com">Cloudflare</a></li>
            <li><a href="https://github.com/mikemainguy/diaquest">Source Code on Github</a></li>
        </ul>
    </div>
    <span>Version {{version}}</span>
</div>