<div id="room"></div>
<a-scene interaction-system background="color: #003" fog="type: exponential; color: #fff; near: 20; far: 100">
    <script>
        if (typeof newrelic !== 'undefined') {
            newrelic.addPageAction('load assets');
        }
    </script>
    {{> assets }}
    <script>
        if (typeof newrelic !== 'undefined') {
            newrelic.addPageAction('assets loaded');
        }
    </script>

    {{> aligner }}
    <!--<a-entity id="clock" clock lookatme position="0 5 -23" scale="3 3 3"></a-entity> -->
    <a-entity id="navigation" lookatme navigation position="23 2 0"></a-entity>

        <!--<a-sphere animatedpath class="indicator" radius=".05" color="#f00"></a-sphere>-->


    <a-link visible="false" lookatme href="/pages/newRelic" position="0 8 -23" title="New Relic" image="#linkImage"></a-link>

    <a-entity id="sizer" visible="false">

        <a-cylinder id="xySize" radius=".1" height="50" visible="false" ,position="0 0 0"
                    rotation="0 0 0" opacity="0.3" color="#fff"></a-cylinder>
        <a-sphere sizer="position: 1 0 0" mixin="sizeConnectorMixin" radius=".05" position="1 0 0"></a-sphere>

        <a-sphere sizer="position: -1 0 0" mixin="sizeConnectorMixin" radius=".05" position="-1 0 0"></a-sphere>
        <a-sphere sizer="position: 0 1 0" mixin="sizeConnectorMixin" radius=".05" position="0 1 0"></a-sphere>
        <a-sphere sizer="position: 0 -1 0" mixin="sizeConnectorMixin" radius=".05" position="0 -1 0"></a-sphere>
        <a-sphere sizer="position: 0 0 1" mixin="sizeConnectorMixin" radius=".05" position="0 0 1"></a-sphere>
        <a-sphere sizer="position: 0 0 -1" mixin="sizeConnectorMixin" radius=".05" position="0 0 -1"></a-sphere>
    </a-entity>

    <a-entity id="listing" position="0 3 -23">

    </a-entity>
    <a-entity id="privateListing" position = "0 1 -23">

    </a-entity>

    {{> rig }}
    <a-entity light="type: ambient; color: #88B; intensity: .9">

    </a-entity>
    {{> shape-properties }}
    <a-entity  id="ambient" sound="src: url(/assets/sounds/classical.mp3); loop: true; volume: 0.1; positional: false"></a-entity>
    <!--<a-entity position="-.5 1 -.5" light="type: directional; color: #FF8; intensity: .9;">-->

    </a-entity>
    <a-entity position=".5 -1 2" light="type: directional; color: #88A; intensity: .2;"></a-entity>
    <!--<a-entity position="-80 2 100" light="type: point; color: #FB9; distance: 200; intensity: 1;">

    </a-entity>
-->

    <a-plane width="4"
             height="4"
             color="#fff"
             id="debug"
             class="text"
             text="color: #000; value: test; baseline: top; align: left"
             position="0 2 -20"
             visible="false"
             rotation="0 0 0"></a-plane>

    <a-sky id="skybox" position="0 0 0" color="#556"  src="/assets/8192.webp"></a-sky>

        <a-circle radius="20" rotation="-90 0 0" material="opacity: 1; src: /assets/grass.jpeg; repeat: 10 10; color: #9B9"></a-circle>

    {{> nonvr }}
</a-scene>
<script>
    document.addEventListener('directoryUpdate', (evt)=> {
        const scene = document.getElementById(evt.detail.htmlId);
        if (evt.detail.entries) {
            const nodes = Object.entries(evt.detail.entries);
            let x = nodes.length*-2;
            if (scene) {
                for(const d of nodes) {
                    const id = d[0];
                    const li = document.createElement('a-link');
                    const a = document.createElement('a');
                    li.setAttribute('visible', 'false');
                    li.setAttribute('href', '/worlds/' + id);
                    li.setAttribute('title', id);
                    li.setAttribute('image', '#linkImage');
                    li.setAttribute('position', x + ' 0 0');
                    x+=4;
                    scene.appendChild(li);
                }
            }
        }
    });
</script>