<div id="room"></div>
<a-scene interaction-system background="color: #003" fog="type: exponential; color: #fff; near: 20; far: 100">
    <script>
        newrelic.addPageAction('load assets');
    </script>
    {{> assets }}
    <script>
        newrelic.addPageAction('assets loaded');
    </script>
    <a-entity id="clock" clock lookatme position="0 5 -23" scale="3 3 3"></a-entity>
    <a-entity id="navigation" lookatme navigation position="23 2 0"></a-entity>
    <a-entity>
        <a-cylinder opacity="0.5" height="100" color="#f00" radius="0.01"></a-cylinder>
        <a-cylinder opacity="0.5" height="100" color="#0f0" radius="0.01" rotation="90 0 0"></a-cylinder>
        <a-cylinder opacity="0.5" height="100" color="#00f" radius="0.01" rotation="0 0 90"></a-cylinder>
        <a-sphere opacity="0.2" radius="0.25" color="#ff4"></a-sphere>
    </a-entity>
<!-- look-controls wasd-controls="fly: true" -->
    <a-entity id="sizer" visible="false">

        <a-cylinder id="xySize" radius=".1" height="50" visible="false" ,position="0 0 0"
                    rotation="0 0 0" opacity="0.3" color="#fff"></a-cylinder>
        <a-sphere sizer="position: 1 0 0" mixin="sizeConnectorMixin" radius=".05" position="1 0 0"></a-sphere>

        <a-sphere sizer="position: -1 0 0" mixin="sizeConnectorMixin" radius=".05" position="-1 0 0"></a-sphere>
        <a-sphere sizer="position: 0 1 0" mixin="sizeConnectorMixin" radius=".05" position="0 1 0"></a-sphere>
        <a-sphere sizer="position: 0 -1 0" mixin="sizeConnectorMixin" radius=".05" position="0 -1 0"></a-sphere>
        <a-sphere sizer="position: 0 0 1" mixin="sizeConnectorMixin" radius=".05" position="0 0 1"></a-sphere>
        <a-sphere sizer="position: 0 0 -1" mixin="sizeConnectorMixin" radius=".05" position="0 0 -1"></a-sphere>
    </a-entity>

    {{> rig }}
    <a-entity light="type: ambient; color: #BBB">

    </a-entity>
        <a-entity position="-80 2 100" light="type: point; color: #FB9; distance: 200; intensity: 1;">
            <a-entity id="ambient" sound="src: /assets/sounds/brown.mp3; loop: true; volume: 1"></a-entity>
            <!--<a-sphere radius="5"  material="src: /assets/sky2.jpeg; color: #ff2; opacity: 0.2" animation="property: rotation; loop: true; dur: 15000; easing: linear; from: 0 0 0; to: 0 360 0"></a-sphere>-->
        </a-entity>



    <a-sky position="0 0 0" src="/assets/castle.jpg">

    </a-sky>
    <a-box width="40" height="2" depth="0.2" position="0 1 20" ></a-box>
    <a-box width="40" height="2" depth="0.2" position="0 1 -20" ></a-box>
    <a-plane width="40" height="40" rotation="-90 0 0"  material="opacity: 0.9; color: #33f;"></a-plane>
    <!--<a-sky src="#woods" radius="100" material="fog: false"></a-sky> -->
    {{> nonvr }}
</a-scene>