<!DOCTYPE html>
<html>
<head>
    <title>Immersive Idea Alpha 20221004-1</title>

    {{#if vrConnected}}
        <script src="/dist/main.js" type="application/javascript"></script>
    {{/if}}

    {{#if vrLocal}}
        <!--<script src="/dist/main.js" type="application/javascript"></script>-->
    {{/if}}

</head>
<body>
{{{body}}}
</body>
</html>