<!DOCTYPE html>
<html>
<head>
    <title>Immersive Idea Alpha 20220923-1</title>
    {{#if secure}}
        <script src="/dist/main.js" type="application/javascript"></script>
    {{/if}}
</head>
<body>
{{{body}}}
</body>
</html>