<!DOCTYPE html>
<html>
<head>
    <title>Immersive Idea Alpha 20221008-1</title>

    {{#if vrConnected}}
        <script>
            const VRLOCAL=false;
        </script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/2.3.0/nunjucks.min.js"></script>
        <script src="/dist/main.js" type="application/javascript"></script>

    {{/if}}

    {{#if vrLocal}}
        <script>
            const VRLOCAL = true;
        </script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/2.3.0/nunjucks.min.js"></script>
        <script src="/dist/main.js" type="application/javascript"></script>
    {{/if}}

</head>
<body>
{{{body}}}
</body>
</html>