body {
    font-family: Arial;
    font-weight: bold;
    background-color: #001;
    font-size: larger;
    color: #99b;
}

a, a:visited {
    color: #94C4F4;
}
a:hover {
    color: #FFCA3D;
}
#header {
    display: flex;
}
@media screen and (max-width: 625px) {
    #header {
        display: block;
    }
    .user {
        width: 100%;
    }
}
span.user {
    margin-left:auto;
    margin-right:64px;
    margin-top:16px;
}
#header li {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    font-weight: lighter;
    display: inline;
}
#ignore {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    border-color: #336;
    border-style: solid;
    border-width: 1px;
}
#controllers {
    width: 500px;
    background-color: #888;
}
#controllers img {
    width: 100%;
    height: 100%;

}
div.main {
    margin: 40px;
    border: #336 solid;
    padding: 20px;
    border-radius: 20px;
}
#examples {
    display: inline-block;
    width: 40%;
}
#examples li {
    list-style: none;
}

#envlist > a {
    margin: auto;
}

#envlist, #examples {
    margin-bottom: auto;
    width: 100%;
    display: inline-block;
}
#envlist ul {
    float: left;
}
#envlist ul.disabled {
    width: 100%;
}
#envlist ul, #gallery {
    display: inline-block;
    padding-inline-start: 0;
    width: 49%;
}
@media screen and (max-width: 625px) {
    #envlist ul, #gallery {
        display: inline-block;
        width: 100%;
    }
}
#gallery iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}
div.secure {
    background-color: #224;
    margin: 0;
}
div.secure a {
    display: block;
}
div.secure li {
    border-style: solid;
    border-radius: 16px;
    border-color: #445;
    background: #446;
    color: #533;
    margin: 12px;
}

#envlist li {
    padding: 4px;
    list-style: none;
}
#version {
    display: none;
    font-size: x-small;
}

#copyright {
    font-size: small;
}
#envlist li a, .secure {
    text-align: center;
    display: block;
    padding: 10px;
    border: solid #00ceff 1px;
    border-radius: 16px;
    background: #333333;
    width: 95%;
}
#logo {
    height: 64px;
    width: 64px;
    margin: 8px;
    padding: 8px;
    display: inline-block;
    background: #99b;
}
.user {
    display: inline-block;
    text-align: right;
}

div.nonvr {
    position: absolute;
    width: 75%;
    border-radius: 16px;
    bottom: 20px;
    left: 20px;
    background-color: #fff;
}
#showNonVR, #hideNonVR {
    float: right;
}
div.nonvr #showNonVR {
    display: none;
}
div.nonvrclosed {
    width: 130px;
    height: 52px;
    overflow: hidden;
}

div.nonvrclosed #hideNonVR {
    display: none;
}
div.nonvrclosed #showNonVR {
    display: block;
}


div.nonvr form {
    display: inline-block;

}


div.nonvr  button {
    width: 128px;
    height: 50px;
    margin: 1px;
    border-radius: 16px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 32px;
}
div.nonvr  button div {
    font-size: xx-small;
}
div.nonvr >> a {
    overflow: hidden;
}
#roomparent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 25%;
}
#room {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 25%;
}

#unmuteButton, #leaveButton, #muteButton {
    display: none;

}
#muteButton, #leaveButton {
    background-color: #cfc;
}
#unmuteButton, #joinButton {
    background-color: #fcc;
}
#joinButton {
    background-image: url('/assets/icons/phone-512x512-1617678.png');
}
#muteButton {
    background-image: url('/assets/icons/minus-512x512-1617683.png');
}
#leaveButton {
    background-image: url('/assets/icons/attention-512x512-1617712.png');
}
#homeButton {
    background-image: url('/assets/icons/home-512x512-1617693.png');
}
#showNonVR {
    background-image: url('/assets/icons/right-arrow-512x512-1617668.png');
}
#hideNonVR {
    background-image: url('/assets/icons/left-512x512-1617692.png');
}
#uploadButton {
    background-image: url('/assets/icons/cloud-upload-512x512-1617655.png');

}
#room {
    visibility: hidden;

}

div.nonvr button:hover {
    background-color: #ccf
}