<div id="banner">
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-medium">
                <!-- Banner Copy -->
                {{#unless user}}
                    <a href="/login" class="button-large">Log In</a>
                {{/unless}}
                {{#if user}}
                    <a href="https://www.oculus.com/open_url/?url=https%3A%2F%2Fwww.immersiveidea.com"
                       class="button-large">Load on Quest</a>
                {{/if}}
            </div>
            <div class="col-6 col-12-medium imp-medium">
                <!-- Banner Image -->
                <!--<a href="#" class="bordered-feature-image" style="width: 30%"><img src="images/demo1.jpg" alt="" /></a> -->

            </div>
        </div>
    </div>
</div>
</section>
<section id="content">

<div class="container">


<h2>We believe that VR/AR enable a new dimension of design thinking and collaborative brainstorming experiences.</h2>
<p>
    With the advent of (reasonably) cost effective VR/XR Head Mounted Displays (HMD), it's now feasible to interact in
    ways that previously were cost prohibitive and/or time consuming.
</p>
<h2>Virtual Offices are the worst of all worlds</h2>
<p>
    The current crop of immersive offerings coming from the "app store" scene seem geared toward recreating experiences that:
    <ul class="quote-list">
    <li><p>sucked to begin with</p></li>
    <li><p>are better experienced in real life (IRL), compared to in a virtual synthetic environment</p></li>
    <li><p>currently are hampered by "app store" monopolies that, while perhaps good intentioned, destroy the value that the
        internet is designed to provide</p></li>
</ul>
<h2>What we believe</h2>
<ul class="quote-list">
    <li>
        <p>Virtual experiences should be designed to be different than what an in person experience offers</p>
    </li>
    <li>
        <p>Recreating the real world virtually is a "cool party trick" but mostly a low fidelity recreation of experiences
    that are frankly "better in real life"</p></li>
    <li><p>Immersive experiences should provide value by creating physically impossible interactive and creative opportunities</p></li>
    <li><p>They should transcend devices and vendors and, in the spirit of the internet, promote a connected and
        interoperable ecosystem.</p></li>
    <li><p>You should be able to get lower fidelity versions of immersive experiences on devices ranging from laptops to TVs to cellphones
        without the need for expensive hardware</p></li>
</ul>
</p>
<h2>This is just the beginning</h2>
<p>
    Webxr and frameworks built upon it are just the beginning of a new way of building immersive experiences that
    solve real world problems.  Platforms like a-frame are an excellent starting point to bridge the gap between
    the "flat web" and the "immersive web".
</p>
</div>

</div>
</section>