<form id="createWorld" method="POST" action="/worlds/create">
    <ul>
        <li>
            <label for="name">Name</label><input name="name">
        </li>
        <li>
            <label for="">public?</label><input name="public" type="checkbox">
        </li>
        <li>
            <input type="submit">
        </li>
    </ul>



</form>
<script>
    document.getElementById('createWorld').addEventListener('submit',
    function(event) {
        event.preventDefault();
        fetch(event.target.action,
                {
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    method:'post',
                    body: new URLSearchParams(new FormData(event.target))
                }
        );



    }, false);


</script>