<h1>Documentation</h1>
<div>
    This tool is optimised for designing complex systems in an immersive environment using the Oculus Quest 2.
    The controls are extremely simple.
</div>
<div>
    The "B" button is use to open and close the main menu.
</div>
<div>
    Box
</div>
<div class="left" id="controllers" >
    <h1>Overview of controller buttons</h1>
    <div>
        <img src="/assets/Quest2_controller.png"/>

    </div>
</div>
<h2>Example Video</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cUchj31iC-A" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
