<h1>Documentation</h1>
<div>
    This tool is optimised for designing complex systems in an immersive environment using the Oculus Quest 2.
    The controls are extremely simple.
</div>
<div>
    <h1>New Relic Explorer</h1>
    <p>
        Demo of viewing new relic data in immersive VR.  This demo shows top 50 urls in your browser app.  I can be
        enhanced to view any timeseries data and is just shown to illustrate how it's done.
    </p>
    <p> To make it work, you must:</p>
    <ul>
        <li><a href="/login">Log in</a></li>
        <li>navigate to <a href="/pages/account">Account</a> and enter new relic account id and api key (recommend doing this in a "normal" browser as it's a bit of a
        pain to do in VR.  Once this is done, the token and account will be saved to your user account.</li>
        <li>On your headset, navigate to <a href="/pages/newRelic">New Relic explorer</a> and you can navigate around the
        immersive representation of the data.</li>
    </ul>
</div>
<div>
    <h1>The "B" button is use to open and close the main menu.</h1>
    <img width="500" height="500" src="/assets/com.oculus.browser-20230121-110512.jpg">
</div>
<div>
    <h1>Other users in the same space show up with this avatar and their
        email address on top of it.</h1>
    <img width="500" height="500" src="/assets/com.oculus.browser-20230121-110746.jpg">
</div>
<div>
    <h1>A somewhat more complicated example (modeling a composable software architecture).</h1>
    <img width="500" height="500" src="/assets/com.oculus.browser-20230121-111323.jpg">
</div>

<div class="left" id="controllers" >
    <h1>Overview of controller buttons</h1>
    <div>
        <img width="500" height="500" src="/assets/Quest2_controller.png"/>

    </div>
</div>
<h2>Example Video</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cUchj31iC-A" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
