<h1>Our Privacy Policy</h1>
<p>
    We believe that users of a system have the right to maintain thier own data
    and must explicitly grant the right of others to use that data.
</p>
<p>
    To that end, we will never knowlingly share data without asking explicit permission
    and will safeguard your infoformation to the best of our ability.  That having been said,
    we want you to be aware of a few things:
    <ul>
        <li>
            By using our service, you indemnify us against accidental disclosure of information and
            agree to hold us harmless in the event information is accidentally disclosed.
            While we strive to keep your private information private and use industry standard cybersecurity practices,
            you accept that using our service and storing information in the cloud inherently carries an amount of risk
            that it could accidentally be disclosed to unauthorized users.
        </li>
        <li>
            You retain the rights to your data and we will make every reasonable effort to
            limit ability of people or companies that you have not explicitly agreed to share data
            with access,  Should you desire to stop using our service, we agree
            to make your data available to you in a format of our choosing for up to 30 days.
            After that period, we reserve the right ot completely wipe your data from our systems.
            Should you want your data removed earlier, we will make our best effort to remove all
            traces of your data, but cannot completely guarantee that it is not available via
            third parties or other services.
        </li>
        <li>
            Our goal is to give you a safe space to explore ideas and concepts knowing
            that your data is safeguarded against unauthorized disclosure.  If we detect
            illegal or other malicious activity, we reserve the right to delete your data
            and/or disclose to legal authorities based on our interpretation of the
            law given the specifics of the situation.
        </li>
    <li>
        Usage of services, key performance metrics, and other non personally identifiable technical information
        may be captured and retained by our staff for the sole purpose of enhance our product and providing
        better user experience.
    </li>
    </ul>
</p>